$navColor: #DDD;
$darkerColor: #231F20;
$darkColor: #777;
$yinColor: #3498db;
$yangColor: #e74c3c;
$navHeight: 53px;
$p: 16px;
$menuIconSize: 2em;
$navIconSize: 1.7em;
$appnameSize: 1.2em;
$appnameCollapsedSize: 1.0em;
$filterlabelSize: 0.9em;

$iconSize: 0.75em;

$rowHeightDefault: 120px;

$cardp: 2px;
$cardSize: 50px;
$cardWidth: 2.5 * $cardSize;
$cardHeight: 3.5 * $cardSize;
$cardBorderRadius: 0.1 * $cardSize;

body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.topnav {
    background-color: $navColor;
    display: flex;
    height: $navHeight;
    color: $darkColor;
}

.topnav>.topnav-icon {
    min-width: $navHeight;
    line-height: $navHeight;
    text-align: center;
    font-size: $menuIconSize;
}

.topnav>.topnav-icon:hover {
    cursor: pointer;
    background-color: $darkerColor;
    color: $navColor;
}

.topnav>.topnav-logo {
    min-width: $navHeight;
    line-height: $navHeight;
    text-align: center;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/373280/logo.svg) 0px center no-repeat;
    background-size: $navHeight * 0.618 * 1.3;
}

.topnav>.topnav-collapse-wrapper {
    line-height: $navHeight;
    font-size: $appnameSize;
    margin: 0;
    white-space: nowrap;
    flex: 1;
    display: flex;

    >.topnav-app-name {
        flex: 1;
        color: $darkerColor;
        font-size: $appnameSize;
    }

    >.topnav-filter-label {
        min-width: 20%;
        line-height: $navHeight;
        text-align: right;

        &:before {
            color: $darkColor;
            content: "filter by:";
            font-size: $filterlabelSize;
        }
    }

    >.topnav-filter-content {
        flex: 1;
        line-height: $navHeight;
        text-align: left;
        padding-left: $p;

        >i {
            &:before {
                font-size: $filterlabelSize;
            }
        }
    }
}

.topnav>.topnav-circle-icon {
    min-width: $navHeight;
    line-height: $navHeight;
    text-align: center;
    font-size: $navIconSize;
}

.topnav>.topnav-settings-icon {
    font-size: $navIconSize;
    min-width: $navHeight;
    line-height: $navHeight;
    text-align: center;
}

#fixed-menu {
    display: none;
    position: fixed;
    background-color: $navColor;
    top: $navHeight;
    left: 0;
    z-index: 1000;
}

#fixed-menu.open {
    display: flex;
}

#fixed-menu>.menu>div>a {
    color: $darkerColor;
    background-color: $navColor;
}
#fixed-menu>.menu>div>a:hover {
    color: $navColor;
    background-color: $darkerColor;
}

.app-container {
    padding: 0 $navHeight;
    height: calc(100% - #{$navHeight});
}
.app-container > div {
    height: calc(100% - #{$navHeight});
}

.page {
    display: flex;
    flex-direction: column;

    .page-row {
        margin-top: $p;
        display: flex;
        height: $rowHeightDefault;
    }
}
